[2020-02-11 08:17] cying111 opened #1 "Issues when testing prepareAnnotation"
I tested the function with this chunk of code:
#'  library(TxDb.Hsapiens.UCSC.hg38.knownGene)
#'  txdb <- TxDb.Hsapiens.UCSC.hg38.knownGene
#'  prepareAnnotations(txdb)

It throws error message as:
'select()' returned many:many mapping between keys and columns
Error in `.rowNamesDF<-`(x, value = value) :
  duplicate 'row.names' are not allowed
In addition: Warning messages:
1: In .set_group_names(

[2020-02-11 09:09] cying111 opened #2 "Issues when testing prepareAnnotations"
'select()' returned 1:1 mapping between keys and columns
 Error in as.vector(x) : no method for coercing this S4 class to a vector.

[2020-02-11 09:39] cying111 opened #3 "Issues when running constructReadClassTables.R"
Error in as.vector(x, mode) :
  coercing an AtomicList object to an atomic vector is supported only for
  objects with top-level elements of length <= 1
9.stop("coercing an AtomicList object to an atomic vector ", "is supported only for\n",
    "  objects with top-level elements of length <= 1")
8.as.vector(x, mode)
7.as.vector(x, mode)
6.as.vector(x, mode = "character")
5..local(x, ...)
4.as.char

[2020-02-11 10:03] #2 closed, assigned to nobody

[2020-02-12 02:21] #3 closed, assigned to nobody

[2020-02-15 14:46] cying111 opened #7 "cannot allocate memory for"
Further debug shows it relates to this code in isore.R assignNewGeneId function:
while(nrow(hitObject)>length_tmp) {
    show('annotated transcripts from unknown genes by new gene id')
    length_tmp = nrow(hitObject)
    show(length_tmp)
    hitObject= inner_join(hitObject,hitObject,by=c("subjectHits"="queryHits")) %>% dplyr::select(queryHits,subjectHits.y) %>% distinct() %>% dplyr::rename(subjec

[2020-02-17 02:09] jonathangoeke opened #8 "add .Rproj to gitignore"

[2020-02-17 03:33] #7 closed, assigned to nobody

[2020-02-17 04:27] #8 closed, assigned to nobody

[2020-02-17 09:00] jonathangoeke opened #14 "start/end in readClassTable is not integer"
the coordinates should be made integers. They might be redundant with start(range(grangesList)), also strand, read count, is redundant, and possibly gene id (in distance table?)

[2020-02-27 01:48] jonathangoeke opened #20 "reduce annotation table size"
- only store as a single GrangesList of exons by Tx with mcols() containing transcript and gene information
- don't store introns, recalculate using myGaps(exonsByTx) instead (fast)
- don't store unlisted introns, can be recalculated quickly

[2020-02-27 07:29] jonathangoeke opened #21 "filtering in distanceToAnnotation calculation is not always correct"
e.g.( ENST00000371378)

[2020-03-20 10:00] jonathangoeke opened #25 "replace distTable with precalculated equivalent classes associated with reads/counts"

[2020-03-25 06:30] cying111 opened #27 "Issues when modifying parameters for extending annotations"
Parameter setting: min.readCount = 5, min.sampleNumber = 5.
 Running messages:
[1] "annoted new tx with existing gene id based on overlap with intermediate new tx"
[1] "annoted new tx with existing gene id based on overlap with intermediate new tx"
[1] "annotated transcripts from unknown genes by new gene id"
[1] 189
[1] "second loop"
[1] 176
[1] "second loop"
[1] 190
Error in `[[<-`(`*tmp*`, name

[2020-03-26 01:30] #27 closed, assigned to nobody

[2020-03-26 01:30] #20 closed, assigned to jonathangoeke

[2020-03-27 09:00] jonathangoeke opened #29 "isore.extendAnnotations: add support number of reads across all samples, full length support"
- add number of reads that support new/known transcripts in extendedGrangesList that will be returned

[2020-03-27 09:01] jonathangoeke opened #30 "isore.estimateDistanceToAnnotation: add if transcript has full lenght support (equal) in rowData"
- add if transcript has full lenght support (equal) in rowData of se object

[2020-03-27 09:16] jonathangoeke opened #31 "options to run bamboo"
- Input SE: -> bamboo.quantSE
- Input bam file -> bamboo.quantISORE
- Inputbam file + output directory -> bamboo.preprocess
- Input directory with readClassFrom construct read class (as rds) -> bamboo.combineQuantify

[2020-04-02 09:26] jonathangoeke opened #34 "add filtering of new isoforms for new genes"
currently all isoforms from new gene are reported. Implement filter of isoforms that are very similar, keep the most highly ex[ressed ones

[2020-04-02 10:04] jonathangoeke opened #35 "add test for bamboo and other accessible functions"
add unit test with testthat

[2020-04-02 10:09] jonathangoeke opened #36 "remove code chunks that are not used anymore"

[2020-04-02 10:11] jonathangoeke opened #37 "reorder which functions are in which files"

[2020-04-03 01:26] jonathangoeke opened #39 "add function to reduce transcript expression to gene expression"
add function to reduce transcript expression to gene expression for those onlye interested in gene expression:
transcriptToGeneExpression <- function(se)
output: se with rowdata genes, and estimates by gene

[2020-04-03 01:37] jonathangoeke opened #40 "replace read names wth integer IDs to make computation more memory efficient"

[2020-04-03 03:54] jonathangoeke opened #41 "rewrite code for readability"
- predictSpliceJunctions

[2020-04-03 03:57] jonathangoeke opened #42 "add verbose (default false) run option to all functions that generate output, don't print messages (use (message())"
- reduce the output shown by adding a verbose option which is set to FALSE by default

[2020-04-03 11:40] cying111 opened #48 "Problem in using predict function in junctionCorrection"
The use of predict on cv.glmnet object throws an error message because there are two predict functions in glmnet, predict.glmnet and predict.cv.glmnet, however, the first one requires a glmnet object while the latter one works on cv.glmnet object. So we should use predict.cv.glmnet, but it is not exported, so should be glmnet:::predict.cv.glmnet to access it.

[2020-04-11 03:30] jonathangoeke opened #52 "create data package for Nanopore RNA-Seq data"
Currently there is no Nanopore RNA-Seq data package in R/Bioconductor. We can create a Biocondutor data package with bam files from SG-NEx that can be used for any long read RNA-Seq package later on. It could include triplicate data from 3 cell lines using direct RNA and direct cDNA, maybe restricted to 1 chromosome, or 1 chromosome region to make this smaller.

This package can then be used to ge

[2020-04-11 04:25] jonathangoeke opened #53 "create function to prepare annotations from GTF file"
a function to prepare annotations from a gtf file will help for scenarios with spike in genes etc.  We can also add a gtf file for the test data region to the bamboo package (chr9_108865774_109014097), we can then have all the data required for tests as part of the bamboo package.

[2020-04-11 08:33] jonathangoeke opened #54 "allow for additional filtering criteria when assigning read classes to transcripts in isore.estimateDistanceToAnnotations"
isore.estimateDistanceToAnnotations currently returns a table that matches all read classes to reference transcripts. The table contains many entries that can be used to filter which transcript is most likely to be correct. Parameters can be added to allow for more stringent filtering.

[2020-04-11 10:36] jonathangoeke opened #55 "go through unsed_others and delete unnecessary code"
- code in unused_others.R is currently not in use and can be removed. There might be some functionality that can be helpful and might be moved out before deleting this file

[2020-04-13 01:34] #37 closed, assigned to jonathangoeke

[2020-04-13 01:34] #36 closed, assigned to jonathangoeke

[2020-04-13 01:37] #30 closed, assigned to nobody

[2020-04-16 01:45] cying111 opened #58 "Rename quantification output to counts and CPM."

[2020-04-17 01:46] #31 closed, assigned to cying111

[2020-04-17 01:57] #48 closed, assigned to cying111

[2020-04-17 02:35] #58 closed, assigned to cying111

[2020-04-17 06:16] #39 closed, assigned to cying111

[2020-04-17 06:17] cying111 opened #59 "Missing Rd documentation"

[2020-04-17 06:17] cying111 opened #60 "Missing ReadMe"

[2020-04-17 07:12] cying111 opened #61 "Problems with parallel processing for EM algorithm when extended annotation is used"
There seems to be a problem with mlapply when extended annotation is used for parallel processing. It may relates to the use of mlapply. Currently, for quantification based on canonical annotation, ncore can be set as high as 8, but for quantification based on extened annotation, ncore is set to 1. If increased, it may run into issues for some genes. Consider optimizing the parallel processing.

[2020-04-17 09:34] #59 closed, assigned to nobody

[2020-04-17 09:57] #42 closed, assigned to cying111

[2020-04-20 01:47] #53 closed, assigned to cying111

[2020-04-20 02:34] #1 closed, assigned to cying111

[2020-04-21 06:52] #60 closed, assigned to nobody

[2020-04-21 07:02] cying111 opened #67 "Problem with extending annotations further"
When new samples come in, extending annotations based on extended annotations would throw an error because of duplicated naming of new transcripts in new samples.

[2020-04-30 08:33] jonathangoeke opened #70 "add functions to write results to file"
- write annotations to bed
- write annotations to gtf
- write counts/estimates to text file

[2020-04-30 08:35] jonathangoeke opened #71 "create function to visualise results"
- plot gene/transcripts
-plot data overview (PCA?)

[2020-04-30 09:01] #55 closed, assigned to jonathangoeke

[2020-04-30 09:02] #67 closed, assigned to nobody

[2020-05-05 10:14] #70 closed, assigned to cying111

[2020-05-05 10:14] #71 closed, assigned to cying111

[2020-05-05 10:14] #61 closed, assigned to cying111

[2020-05-05 10:15] #52 closed, assigned to cying111

[2020-05-05 10:15] #54 closed, assigned to jonathangoeke

[2020-05-05 10:17] #40 closed, assigned to jonathangoeke

[2020-05-05 10:17] #41 closed, assigned to nobody

[2020-05-05 10:18] #35 closed, assigned to cying111

[2020-05-05 10:19] #34 closed, assigned to jonathangoeke

[2020-05-05 10:20] #29 closed, assigned to jonathangoeke

[2020-05-05 10:20] #25 closed, assigned to jonathangoeke

[2020-05-05 10:21] #21 closed, assigned to jonathangoeke

[2020-05-05 10:21] #14 closed, assigned to jonathangoeke

[2020-05-18 03:43] jonathangoeke opened #83 "error when seqlevel style is not matched between annotations and reads"
bambu returns an error when the seqlevels don't have any matches (e.g. chr1, and 1). Add code to prevent this by using the same seqlevel style

[2020-05-18 09:40] jonathangoeke commented on #83
done

[2020-05-18 09:40] #83 closed

[2020-05-28 09:57] cying111 opened #101 "Issues when using fasta files on Windows"
Using fasta files on Windows throws error message, recommend to replace the fasta file with "BSgenome.Hsapiens.NCBI.GRCh38" will resolve the problem, i.e., set genomeSequence = "BSgenome.Hsapiens.NCBI.GRCh38"

If you still prefer to use fasta, we would recommend to use it on non-Windows platform, as the problem is related to [a reported unsolved bug with getSeq on Windows](https://github.com/Bioco

[2020-06-06 04:05] yuukiiwa commented on #101
I'm having problems with using fasta as genomeSequence in bambu on Mac. Here is the error message:
![Screen Shot 2020-06-06 at 12 03 15 PM](https://user-images.githubusercontent.com/41866052/83935617-c4db1000-a7ed-11ea-9fa1-ebe29f4a9b59.png)

[2020-06-08 03:26] yuukiiwa commented on #101
Here is the traceback of the run:
![Screen Shot 2020-06-08 at 11 25 10 AM](https://user-images.githubusercontent.com/41866052/83990013-d30a6700-a97a-11ea-8a71-60bf8c3f15ac.png)

[2020-06-13 09:16] cying111 commented on #101
I've tested it on Mac and it seems that this error is caused by the bpvec usage in junctionCorrection.R . I've removed this in the latest version.

[2020-06-15 14:14] yuukiiwa commented on #101
I have installed the latest version of bambu, and it throws the same error message I got previously. Here is the traceback:
![Screen Shot 2020-06-15 at 10 11 03 PM](https://user-images.githubusercontent.com/41866052/84667888-7f3ce680-af55-11ea-91c8-ee863f1e2bc1.png)

[2020-07-17 08:10] Drakyrie commented on #101
For a windows work around using a .fasta, in createJunctionTable() replace

with

and move the following code outside and below the else statement

[code]

The final if statement should look like this at the end.
`  if(is.null(genomeSequence)){
    stop("Reference genome sequence is missing, please provide fasta file or BSgenome name, see available.genomes()")
  }else if(class(genomeSequence) != '

[2020-07-27 10:12] cying111 commented on #101
Thanks! @Drakyrie , I have updated the code accordingly!

[2020-07-27 10:12] #101 closed

[2020-08-03 07:32] qhauck16 opened #154 "PrepareAnnotationsFromGTF() not installed"
Hi,
I'm attempting to use this software with a GTF as a reference annotation file for RNA-seq quantification. I noticed a recent commit message referenced the above function not being exported, and, as far as I can tell, it is still not working/appearing. I can use the prepareAnnotations() function fine.

Thanks!

Quinn

[2020-08-03 08:34] cying111 commented on #154
hi @qhauck16 , thanks for the feedback! Yes, we have combined the two annotation functions to one function **prepareAnnotations**, so that you can use **prepareAnnotations** to prepare both gtf file and txdb object now. The **prepareAnnotationFromGTF** function now becomes an internal function, which will be called internally when gtf file is provided to **prepareAnnotations** function.

[2020-08-04 06:19] #154 closed

[2020-08-14 08:20] qhauck16 opened #164 "Error when running Bambu"
Hi again,
I am running into another issue when running bambu. :
[code]

I ran:
```bambu(reads = test.bam, annotations = gtf_bambu, genomeSequence = fa.file, extendAnnotations = FALSE)```

The prepareAnnotations worked fine w/the gtf, so I'm not sure what might be causing this error.

Thanks,
Quinn

[2020-08-17 03:59] cying111 commented on #164
hi @qhauck16 , thank you for the feedback, may I check with you that are you using a customized gtf/fasta file? The error might be coming from the internal calling of function seqlevelsStyle(), which is default to the know style NCBI and UCSC, so if a customized gtf file is used, it might cause issues. We will fix this in a new version to allow taking in of customized gtf file.

[2020-11-06 10:33] onertipaday opened #172 "Error when running bambu Tutorial"
Hi,
I'm trying to run the tutorial from bambu vignette [https://bioconductor.org/packages/release/bioc/vignettes/bambu/inst/doc/bambu.html]. Everything is working as expected till I run the below code:
[code]
which returns the error:

Any suggestions would be appreciated.
Thanks,
Paolo

[2020-11-09 01:10] cying111 commented on #172
Thanks! Could you share with me your sessionInfo()?

[2020-11-09 01:11] cying111 commented on #164
Hi @qhauck16. we have allowed customized gtf/fasta file for now. Please check.

[2020-11-09 07:57] onertipaday commented on #172
Sure. Thanks for the quick reply.

I have tried the tutorial on my laptop with Fedora 33 and using the bioconductor/bioconductor_docker:RELEASE_3_12 docker and i get the same error.

Below both sessionInfo.

[code]

[code]

[2020-11-09 10:07] cying111 commented on #172
Hi, I did a quick check on my side and it seems that it's related to the fasta file is not loaded as expected when using this  `genomeSequence <- query(ExperimentHub(), c("NanoporeRNA", "GRCh38", "FaFile"))` in R 4.0.3. I probably need to check with bioconductor team to find out what is the problem there!

For now, I would suggest two solutions:
1.  You can use this, which is also stated in the tu

[2020-11-09 11:57] cying111 commented on #172
Lastly, if you have further problems, you can post here https://support.bioconductor.org/ with tag to "bambu". This will help others if they have the same problem.

Thank you.

[2020-11-09 12:33] onertipaday commented on #172
Indeed they work! Thank you very much!

I'll do that. Thanks again.

[2020-11-09 12:33] #172 closed

[2020-11-09 12:37] cying111 commented on #164
I will close this issue for now.

If you have further questions, please post it here: https://support.bioconductor.org/ with tag to `bambu`. Thank you!

[2020-11-09 12:37] #164 closed

[2020-12-21 08:43] yuukiiwa opened #178 "Illustrate the use of the compareTranscript() function"
There is this revised compareTranscript() function current on a [pull request](https://github.com/GoekeLab/bambu/pull/177) to the [bambu-dev-bioc branch](https://github.com/GoekeLab/bambu/tree/bambu-dev-bioc). It will be great if the usage of this function within the bambu workflow can be illustrated.
Thanks!

[2021-01-05 09:22] M-corre opened #184 "Error with BAMs when running Bambu"
Hi,
Everything works perfectly until I tried to run the bambu function :

I then get this error message :

Any suggestions to fix this ?
Thank you very much
Morgane

[2021-01-05 09:53] cying111 commented on #184
Hi @M-corre, could you provide me the seqlevels information regarding the bam files, bambuAnnotations and fa.file you used?

[2021-01-06 14:15] M-corre commented on #184
Hi,
Here you are, it appears not to be optimal....
I tried to re-download the gtf and fasta file.

Error in h(simpleError(msg, call)) :
  error in evaluating the argument 'x' in selecting a method for function 'seqlevels': unable to find an inherited method for function ‘seqinfo’ for signature ‘"character"’

 [1] "chr1"  "chr2"  "chr3"  "chr4"  "chr5"  "chr6"  "chr7"  "chr8"  "chr9"  "chr10" "chr1

[2021-01-06 14:25] M-corre commented on #184
Downloading the new versions of the genome and annotation didn't change a thing... I don't understand why the fa.file is not recognized though

[2021-01-07 00:42] cying111 commented on #184
Thanks @M-corre! Is your bam file generated using the provided genome and annotation file? Also, could you show me the message printout before the error message?

[2021-01-07 07:59] M-corre commented on #184
Hi, as a matter of fact, I aligned my fastq on the right reference genome (Gencode) but the alignement tool I used (Minimap2) did not offer indexing options, so I did not use the annotation file while generating the BAMs...
Sure, here you are :

Start generating read class files
  |                                                                                                      |   0%Error in

[2021-01-07 08:38] cying111 commented on #184
Thanks! it's still a bit unclear to me where this happens, can I ask you to try this `se <- bambu(reads = files, rcOutDir = file.path(mydir, "Bambu_file"), annotations = bambuAnnotations, genome = fa.file, stranded = FALSE, discovery = FALSE, verbose = TRUE)` and share with me the printout message?

[2021-01-07 08:56] M-corre commented on #184
[1] 1
Error in S4Vectors:::normarg_names(value, class(x), length(x)) :
  attempt to set too many names (1) on IRanges object of length 0

[2021-01-08 02:38] cying111 commented on #184
Hi @M-corre, may I check with you that if your data has no junction covered? If all your alignments are single range with no junction coverage, then this error will show up. As bambu is designed for long read, we would expect the reads to have at least some junction coverage when aligned to genome. Hope this clarifies your questions.

Thank you.

[2021-01-08 07:25] M-corre commented on #184
Hi @cying111 , Thanks for the insight. Sorry for asking, but how can I check that ? My data are Nanopore reads, not much coverage but should be enough...

[2021-01-08 08:01] cying111 commented on #184
If you are checking from R:

[2021-01-08 09:30] M-corre commented on #184
Here it is 👍 library(GenomicAlignments)

      1
2205640

I feel like my BAMs are the problem...

[2021-01-08 09:46] cying111 commented on #184
How is your bam file generated? If you are using minimap2, make sure that --splice is specified to allow the minimap2 to recognize the junctions (https://github.com/lh3/minimap2), see below:

[2021-01-08 13:27] M-corre commented on #184
I think the best thing to do is to regenrate my Bam files with the proper conditions you gave me... Might take a while though. I'll let you know asap ! Thank you very much for those tips !!

[2021-01-11 16:25] M-corre commented on #184
I regenerated my bam files with your parameters and it worked ! Thank you !

[2021-01-12 08:44] cying111 commented on #184
No problem! I will close this issue then!

[2021-01-12 08:44] #184 closed

[2021-02-11 22:34] mei-du opened #201 "Partial and full isoforms"
Hi, how does bambu define and/or distinguish between full and partial isoforms? Would the shorter transcripts here be partial? Thanks!
![image](https://user-images.githubusercontent.com/58542302/107707086-73d4d180-6d15-11eb-8ce4-78ae9aa6bafe.png)

[2021-02-12 01:21] jonathangoeke commented on #201
Hi @mei-du in principle, all isoforms are considered full, bambu only distinguishes full length and partial reads. I'm not sure though if this answered your question? If you add a bit more context we can provide additional information. We hope to post a preprint soon describing bambu in more detail.

[2021-02-26 05:13] #201 closed

[2021-02-26 05:16] mei-du opened #202 "gtf file strand for novel genes"
Hi team, I noticed in my output gtf file that there is no strand orientation available for novel genes identified by bambu, which has been reported as the cause of an issue for a different tool I would like to use with the output. Could you please clarify this? Thanks!

[2021-03-02 03:54] jonathangoeke commented on #202
Hi @mei-du can you post the first lines from the output gtf file here?

[2021-03-02 04:09] mei-du commented on #202
These are the first lines:
[code]
And throughout the file there are a few un-stranded cases among novel genes:
[code]

[code]

[2021-03-02 05:43] jonathangoeke commented on #202
thanks! Single exon transcripts are unstranded as we can't infer the strand from splice junctions (unless a stranded protocol is used). In general I would probably recommend to ignore the single exon genes, possible remove them from the output, unless you are specifically interested in this.

[2021-03-02 05:44] mei-du commented on #202
Thanks for the clarification!

[2021-03-02 05:44] #202 closed

[2021-04-29 04:58] mei-du opened #206 "warnings when using multiple bam files"
Hi team,
I have tried bambu with both BamFileLists and single merged bam files, and noticed a significant difference in runtime. I also received warnings only when using BamFileLists. Could you offer any clarification for this? Thank you!

![image (1)](https://user-images.githubusercontent.com/58542302/116504282-4b637900-a8fb-11eb-8525-f5d467ffb489.png)

[2021-04-30 05:02] cying111 commented on #206
Hi @mei-du , for the warnings, my guess would be of the bam files that you have, those that are rather small, with not much informative reads would throw this warning. It would not affect processing other bam files, so I would not worry about this too much!

As for your first query to the big running time difference in using BamFileLists vs merged bam file, could you provide more details so that I

[2021-05-02 23:44] mei-du commented on #206
Hi @cying111,
BamFileList: 6 files, 20.6MB - 35.4MB
merged bam: 196.1MB

Thanks!

[2021-05-03 02:57] cying111 commented on #206
Thanks @mei-du ! All the bam files seem a bit small, I would probably expect quite few reads in these files which will cause the warnings. As for the running time, I probably would not expect much difference, may I know what is the running time when you run as BamFileLists vs Merged bam?

[2021-05-03 03:16] mei-du commented on #206
Hi @cying111 it took about 11 minutes for BamFileLists and 5 minutes for the merged.

[2021-05-04 06:01] cying111 commented on #206
Did you use parallel computation when using BamFileLists? If not, then maybe using BamFileLists would cost a bit longer than the merged case because samples will be processed sequentially instead of parallelly.

[2021-05-04 22:46] mei-du commented on #206
Hi @cying111,
No I didn't. I had suspected that, makes sense. Thanks for the clarification!

[2021-05-06 01:44] #206 closed

[2021-05-06 16:23] jackhump opened #208 "guidance on memory and multithreading"
Hi, I'm excited to try out bambu. I'm currently working on a dataset which consists of 30 PacBio sequel II runs, which come to 88 million FLNC reads in total. I've been struggling to find a tool that can generate a single merged transcript reference and a count matrix for all samples together, which I could then perform downstream filtering and analysis with SQANTI and SWAN.

I'm currently getting

[2021-05-10 02:37] cying111 commented on #208
Hi @jackhump , glad to hear that you are trying out our package. For the number of samples that you give, I would suggest you to run bambu with a memory of 124GB and 10 cores, it should be able to allow you to process the dataset within the requested time frame.

[2021-05-13 19:33] jackhump commented on #208
I have a few specific questions now I'm looking more through the results:

1) The values in the transcript count matrix, how are these calculated? As they are decimals rather than integers, can I assume these are ML estimates? Or are these normalised like TPMs?
2) I ran the GTF through SQANTI and it classifies almost no transcript as ISM (incomplete splice match) - why is that?
3) Looking at speci

[2021-05-14 02:19] cying111 commented on #208
Hi @jackhump , it's great to hear that you have managed to run bambu on your samples. For you specific questions, here are some quick answers:
1. count estimates are more than counts, we have used EM algotithm to do some estimation, so the count values reported are EM estimates.
2. I am quite happy that you bring this point up, in the bambu parameters, opt.discovery, there is a remove.subsetTx, wh

[2021-05-25 14:30] #208 closed

[2021-05-28 02:43] cying111 opened #210 "The use of correct junction to exon differences in coordinates in createExonsByReadClass could introduce errors"
When trying to run processReads on one of the samples, I found that this step in contructReadClasses might introduce errors for very small exons (1bp exon).

Before correcting:
[3]       12 49129573-49129574      +
After correcting:
 [3]       12 49129574-49129573      +

Currently this is causing errors when output passed to scoreReadClasses, where unlistIntrons would ignore this exon by giving o

[2021-06-16 09:57] enovoa opened #213 "readID to transcriptID"
Hello! Thanks for making this software available. I was wondering if there is some way to obtain the assignments of readIDs to transcriptIDs that are done by bambu (which are then used to get quantifications)? Thanks in advance!

[2021-06-17 09:32] cying111 commented on #213
Hi @enovoa , to find out the assignment of readIDs to transcriptIDs, you may use this internal function,

`isore.estimateDistanceToAnnotations(seReadClass,    annotationGrangesList, min.exonDistance = 35,    additionalFiltering = FALSE, verbose = FALSE)`

where the seReadClass is the seobject that is saved to rcOutDir, and annotationGrangsList is either the annotations that used or the extended an

[2021-06-21 07:35] enovoa commented on #213
Thanks @cying111  - we will try this out!

[2021-08-07 15:31] leiendeckerlu opened #217 "Error when reading in GTF file"
Hi,

When running the following commands:

[code]

I'm getting the following error:

the GTF file looks like this and according to gffreader is properly formatted:

[code]

any idea what's going on here?

Many thanks,
Lukas

[2021-08-07 15:35] leiendeckerlu commented on #217
addendum: With

`annotation <- prepareAnnotations("./data/HPV16_Pave.gtf")`

I get a different error:

[2021-08-10 08:04] cying111 commented on #217
Hi @leiendeckerlu , could I check with you that does your gtf file contain any gene/transcript/exon features, other than CDS? For bambu to run, we assume that the gtf file has to contain at least exon features for it to run, as we need to construct the granges based on this.

[2021-08-13 09:06] leiendeckerlu commented on #217
Hi @cying111 , you're right, so far my GTF did not contain any exon features.  Please correct me if I'm wrong, but it is my understanding that replacing "CDS" with "exon" should in theory do the trick in the GTF file as for my genome CDS and exon are identical. However, I still get the very same error.

[2021-08-13 12:58] cying111 commented on #217
Hi @leiendeckerlu , I tried to test with the sample rows given here, I think it runs through fine with CDS . I am not sure what could be the issue. It would be helpful if you could provide me a test sample of the file you have? I can see whether I can find out what could be wrong.
![image](https://user-images.githubusercontent.com/25293260/129360570-82284814-03be-4af3-a941-82850415be8f.png)

[2021-08-13 13:03] leiendeckerlu commented on #217
Hi @cying111 , you're absolutely right, if I read the gtf directly with prepareAnnotations() it works, going via readFromGTF() does not work, but that's fine for me :) Many thanks for your help!

[code]

[2021-08-13 13:03] #217 closed

[2021-08-13 13:14] cying111 commented on #217
Hi @leiendeckerlu, I see. `prepareAnnotations` will help to prepare annotations from txdb object or gtf file directly for bambu to use, while` readFromGTF` is a complimentary function that you can use to read the output gtf file from `writeBambuOutput` as grangeslist object after running `bambu `. So applying output from `readFromGTF` to `prepareAnnotations` will not work.

[2021-08-29 08:54] niradsp opened #220 "Does the Bam file need to be sorted or unsorted?"
Hello,
So for example the EM algorithm used by rsem requires unsorted tramscriptome BAM file.  Does Bambu have any such requirement?
Also, I have 8 nanopore files, all compressed, sorted and indexed. Each file is a cDNA file that were compressed, sorted and indexed.  Also, we did multiple runs.  So each file is maybe 20 GB in size.
I was wondering how much memory and threads will be required to fi

[2021-09-01 06:21] cying111 commented on #220
Hi @niradsp , yes, the bam file need to be sorted and indexed genome bam file. So you can apply your dataset with bambu directly. As to what is the expected memory and threads, my suggestion would be to set a relatively small yieldSize, say 1000000, and a memory of 64/128GB and 8/10 threads would be sufficient. If it does not work, I would probably suggest you to just run the bambu for two times,

[2021-09-01 11:52] niradsp commented on #220
Thank you @cying111 for the response.  I will try it as you suggested very soon, and if that does not work, I will try out the development branch.  I don't mind waiting for the new version. I am excited to test it out.
Also, have you tested out on Promethion data?  It tends to be bigger.   We will be moving from Minion to Promethion very soon.
Furthermore, the 50-sample data has been sequenced usi

[2021-09-02 12:16] cying111 commented on #220
yes, we have tested on Promethion datasets on the development branch. You can try with current version first, if not able to run, you can just switch to the development branch or wait for the version.

We don't have the junction splice site correction for Illumina data for now. But yes, that is a good idea, we definitely want to have that as a feature in bambu! Thanks for the suggestions!!

[2021-09-08 22:05] niradsp commented on #220
Thank you for your help.  I must say that this is a very well-design program and finished running within 2 hours.
I have been looking at particular gene and its isoforms.  The isoforms have showed differential usage in Illumina data, and in fact, when I ran it using FLAIR as well as stringtie, the isoforms show up.
However, Bambu is showing a different isoform for the secondary isoform.  In other

[2021-09-11 19:05] bernardo-heberle opened #221 "Issue trying to process big BAM file 100+ GB using Bambu."
Hello,

I recently ran into a problem when trying to process a big bam file for a sample sequenced using two PromethION flow cells (144G BAM file). I am running it on an AMD cluster node with 16 cores and 480G of RAM.

Here is the the script I am running:

[code]

Here is the error message:
[code]

The code produces this error after running for about 2 hours.
I had ran this code before with smalle

[2021-09-13 04:13] cying111 commented on #220
Hi @niradsp  thanks for letting us know the performance of bambu, this is very helpful. I probably know what could be the issue and we fixed it in the development branch, I would probably suggest you to try that branch and see if there is any improvement for that particular gene, and if it persists, you can try to change this parameter in the opt.discovery argument by setting `opt.disocvery = list

[2021-09-13 04:19] cying111 commented on #221
Hi @bernardo-heberle , thanks for the feedback, the error looks unfamiliar to me! But I can make a guess that this is probably related to the sample being too large and that has caused some issue during the parallel processing.
I probably would suggest you to try the following:
1. to decrease the number of cores, say 16 to 8 and see if it works.
2. if the error persists, then the current version m

[2021-09-14 01:34] andredsim commented on #221
Hi @bernando-heberle, If the above solutions don't work another option is to provide a yieldSize argument to Bambu.

e.g
`se <- bambu(reads = sample.bam, annotations = bambuAnnotations, rcOutDir = "./no_discovery", genome = fa.file, discovery=FALSE, ncore=16, yieldSize = 5000000)`

This will slightly increase the runtime of Bambu but should reduce the total memory usage as it reads in your large B

[2021-09-19 19:31] bernardo-heberle commented on #221
Thank you for your suggestions!

 I tried decreasing the number of cores as @cying111 suggested and using the yieldSize argument as @andredsim , but neither solution worked.

I will try to use the bambu-dev-bioc branch this week and let you know how it goes.

[2021-09-27 21:20] niradsp commented on #220
Hello @cying111 ,
Thank you for the explanation. I downloaded the development version, and  I ran it the way that you suggested.
 Are there any other tweaks I can make?  There are a couple of other genes that are not showing up (that are showing up in the stringtie data).
Also, how well has Bambu been tested on Pabio data?  It seems like I will also be getting PACBIO data.

Thank you in advance,
N

[2021-10-01 03:01] alicecsq opened #223 "cannot find "prepareAnnotations" function"
Hi,
    Thank you for providing the Bambu tool. I just install the tool recently and ran into an error with the following code
`library("TxDb.Hsapiens.UCSC.hg38.knownGene")`
`txdb <- TxDb.Hsapiens.UCSC.hg38.knownGene`
`bambuAnnotations <- prepareAnnotations(txdb)`

Error in prepareAnnotations(txdb) :
  could not find function "prepareAnnotations"

Could you help? Thank you!
Alice

[2021-10-01 17:51] gahaddad08 opened #224 "bambu novel transcripts gtf"
Hi there,

My colleague and I had a suggestion regarding the gtf file that bambu spits out using writeBambuOutput. As we understand it, bambu adds new annotations to the already existing gtf that we provide for it in the command. We were wondering if bambu could also generate an output gtf file where only the transcripts generated by bambu are listed. This could also complete the usage scenarios f

[2021-10-04 00:54] cying111 commented on #223
Hi @alicecsq , after installing the package, you will need to do `library(bambu)` to  load the package to the wroking session.

[2021-10-04 01:27] cying111 commented on #220
Hi @niradsp Yes, we have tested it on PacBio data, and it worked pretty well. For those genes that are not showing up, are they novel genes? If yes, you can increase the `max.txDNR` parameter in the `opt.discovery` argument, for example to 0.2, or even 0.5 to see. This parameter controls the threshold that we used tof filter novel transcripts.

[2021-10-04 15:48] #223 closed

[2021-10-13 08:56] savytskanatalia opened #225 "List of output files and formats"
Could you maybe add a section in .md specifying the expected output files and brief description of what they contain?

[2021-10-17 13:52] cying111 commented on #225
Sorry for the delayed repsonse. Thanks for the suggestions! We will add that to the new release!

[2021-10-19 21:21] wigge206 opened #230 "Mapping long reads from PCR to isofroms (novel and existing)"
Hello,
I have been working on mapping some targeted nanopore cDNA sequencing. We have generated reads for a one gene with two primer sets, one set are in the 5` and 3` UTRs and effectively capture the full-length products (slightly truncated). The seconds set are in a known second TSS start site which is in one of FL exon.

I have used FLAIR and stringtie2, which seems to have handle the FL produc

[2021-10-21 01:30] #225 closed, assigned to nobody

[2021-10-21 04:01] wigge206 commented on #230
I have quickly run one sample through your pipeline using those setting. The sample only has reads from the shorter PCR isoform but is replicating the issue.

The snapshot of the gtf is below, all the reads are mapped to novel transcripts (tx1, tx2, tx3), we would expect the reads to map to ENST00000610623.4 etc

![image](https://user-images.githubusercontent.com/7672246/138208463-6274f79b-547b-44

[2021-10-21 04:34] andredsim commented on #230
I see, it looks like the 3 novel transcripts all have intron retention events and a novel exon in tx.3. Do the other ENST transcripts receive 0 values for assays(se)$counts /CPM/fullLengthCounts/partialLengthCounts and unique counts?

If you could send me the .bam file for the reads in this area as well as the genome and annotation file I will try and run it myself to see if I can replicate or und

[2021-10-27 05:29] #230 closed, assigned to nobody

[2021-10-28 16:29] SheridanCavalier opened #231 "BiocParallel Error: cannot mix "*" with other strand values"
Hello!
I have been running bambu successfully with the mouse mm39 reference genome and the accompanying annotation file from UCSC; however, very recently this BiocParallel issue arises whenever I run the bambu function. During the "Start generating read class files" step of bambu, I receive this error "BiocParallel Error: cannot mix * with other strand values".
When looking through my GRanges obje

[2021-11-05 00:16] wigge206 commented on #230
Hi,

I have used the latest master branch version (and tried through the updated bioconductor release), and still are only have readCounts for novel transcripts. I used `rowData()` to inspect the results. `SessionInfo()` did confirm I was using version 2.0.0

I also used the `opt.discovery()` settings you suggested `opt.discovery = list(max.txNDR = 0.5, fitReadClassModel = FALSE)`
What settings di

[2021-11-05 01:20] andredsim commented on #230
Hi,

Instead of looking at rowData(se)$readCount could you please try assays(se)$counts, assays(se)$CPM, or assays(se)$fullLengthCounts and tell me what you get.

[2021-11-05 01:48] andredsim commented on #231
Hi @SheridanCavalier, did updating the version as per cying111's comment resolve your issue so that we can close this issue?

If this didn't and your data isn't stranded so you don't want to use the stranded=TRUE solution here are two alternative solutions that might solve your issue.

- If you are using a BSgenome, instead try using a fasta genome instead
- Try the BETA bambu branch "fix_bsgenome

[2021-11-05 02:09] wigge206 commented on #230
Hi,

For each of them I get a long list with the vast majority of entries as 0. Screenshot attached of the table summary for counts

![Screenshot 2021-11-05 150814](https://user-images.githubusercontent.com/7672246/140446473-9de67e0c-7b4d-4b09-bff8-25eaaeaee8c6.png)

I have attached the .rds for the bambu output.
[bambu_sample1.zip](https://github.com/GoekeLab/bambu/files/7480006/bambu_sample1.zip

[2021-11-05 02:37] andredsim commented on #230
Hi,

Thanks for sending the rds, that helped me understand it better!

I did some tests and these are the parameters I ran with.
se <- bambu(reads = sample, annotations = annotations, genome = fa.file, verbose = T, rcOutDir = "./", opt.discovery = list(max.txNDR = 0.5, remove.subsetTx = FALSE, min.readFractionByGene = 0))
![image](https://user-images.githubusercontent.com/17838991/140448649-ad4ff5

[2021-11-05 18:48] SheridanCavalier commented on #231
@andredsim @cying111
Yes! Sorry for the late reply, but the update fixes the issue thank you so much

[2021-11-08 01:20] #231 closed

[2021-12-02 13:17] chelauk opened #232 "minimap command"
Hi, I want to run bambu and thought I should process my data in a similar way to the way you process your example data:

I notice your reference file for minimap2 is Homo_sapiens.GRCh38.dna_sm.primary_assembly-directRNA-32G.mmi
Could you explain how this was prepared?
many thanks

[2021-12-03 00:46] cying111 commented on #232
Hi @chelauk , this is the index file that we prepared for all directRNA samples using this command
"minimap2 -x splice -uf -k14 -t 5 -I 32G -d ref.mmi ref.fasta" with "-uf" as the directRNA data is stranded. Let me know if you still have questions. Thank you!

[2021-12-03 09:45] chelauk commented on #232
Many thanks for your explanation!

[2021-12-03 09:45] #232 closed

[2021-12-03 14:21] bernardo-heberle commented on #221
Hi @andredsim and @cying111,

The suggested command (shown below) worked like a charm when using the new build (Version 2.0.1).

` bambu(reads = test.bam, annotations = bambuAnnotations, genome = fa.file, lowMemory = TRUE) `

Thank you for the help and for making this awesome tool!

[2021-12-03 14:21] #221 closed

[2021-12-17 09:47] JintaoL666 opened #234 "quantification issue"
library(ExperimentHub)
NanoporeData <- query(ExperimentHub(), c("NanoporeRNA", "GRCh38", "BAM"))
bamFiles <- Rsamtools::BamFileList(NanoporeData[["EH3808"]], NanoporeData[["EH3809"]],
    NanoporeData[["EH3810"]], NanoporeData[["EH3811"]], NanoporeData[["EH3812"]],
    NanoporeData[["EH3813"]])
Questions1:
Please explain the above script and the NanopreData?

Question2:
How could we load more than

[2021-12-17 13:28] cying111 commented on #234
Hi @JintaoL666 ,

Thank you for using our tool! Please see my answer below:
Q1: We are using datasets from the NanoporeRNASeq package where we have generated 6 nanopore RNA-Seq samples that can be used to test out bambu. The bam files of these samples are uploaded to the hub instead of having it at local, the scripts are just how you can extract the datasets through the ExperimentHub package. `Nan

[2022-01-25 03:31] niradsp commented on #220
Hi,
Sorry for the late response .  We are finally getting our data.
The isoform in question is not novel.  It is quite detectable via Illumina, and Flair found it as well.
Bambu though is suggesting an intron retention event.
We will see, but maybe with 42 samples, it shows up.
Should I run a program such as TranscriptClean for junction correction?  I have Illumina data as well.
Thanks

[2022-01-27 00:21] cying111 commented on #220
Hi @niradsp,

Glad that you finally got your data. For the cryptic exon isoform, you may check if there are full length or unique support for further evidence before more samples come in. For junction correction, bambu alreadty performs junction correction when processing the reads, so I probably would not expect much improvement from TranscriptClean, though I am not very sure about this as we did

[2022-02-02 11:45] imilenkovic opened #235 "count normalization in counts_transcript.txt"
Hello,

I was wondering what kind of normalization is used to produce the counts in the `counts_transcript.txt` file that is written with the `writeBambuOutput` command? I see that they are all decimal so I wonder if they are normalized by million reads or another way?

Thank you!

[2022-02-02 13:42] imilenkovic opened #236 "Associating read IDs with transcript IDs"
Hello,
I was wondering if there is a way to associate transcript IDs to their respective read IDs, so that one would be able to subset the bam file to only keep the reads that map to a specific transcript (or a list of transcripts)?

Thank you!

[2022-02-03 02:08] cying111 commented on #235
hI @imilenkovic , the reported counts in counts_transcript.txt is the estimated total read count for each transcript, there is no normalization involved. We used EM for probabilistic assignment of reads to transcripts, and that's why the estimates are not integers, but with decimals. Hope this clarified your question. Let us know if you have further questions. Thanks!

[2022-02-03 06:06] andredsim commented on #236
Hi,
We do have this as a beta feature in the read_to_model_map branch. With this version Bambu needs to be run with trackReads = TRUE and will add a metadata(se)$readModelMap to the output from the bambu function if running with quantification. If you run it in discovery mode only, it will instead output a list containing both the annotations and the read model map.

Unfortunately this branch is u

[2022-02-03 17:21] imilenkovic commented on #236
Hi,
Thanks for your answer. I will see if I can make it work; otherwise I will wait to see if you can merge the branch with the latest release :)

Thanks!

[2022-02-03 17:25] #235 closed

[2022-02-03 17:28] imilenkovic opened #237 "Filtering isoforms present at a low level"
Hello,
I was wondering how exactly I can filter out isoforms that are represented by a very small number of reads? In other words, when I visualize the isoform detection by running `plotBambu(se, type = "annotation", gene_id = "gene_ID")`, I would only like to keep the isoforms that are moderately or highly abundant (since the scale is log2, eg. only isoforms for which the log2 value will be > 3).

[2022-02-04 01:09] andredsim commented on #237
Hi,
You could filter the se object by the counts assay (or any of the other assays). e.g

filteredSe = se[log(assays(se)$counts,2)<3]
plotBambu( filteredSe, type = "annotation", gene_id = "gene_ID")

Hope this helps

[2022-02-04 11:42] imilenkovic commented on #237
Hello,
I get the following error message:

[code]

[2022-02-04 13:21] andredsim commented on #237
Sorry I missed a ','. Try

filteredSe = se[log(assays(se)$counts,2)<3,]

[2022-02-04 14:43] imilenkovic commented on #237
Sorry to keep asking, but even with adding the comma it's still giving the same error.
When I run just `head(log(assays(se)$counts,2)<3)`, this is what is printed:
[code]
So it's giving a logical result and not subsetting the columns based on numerical values.

[2022-02-04 15:18] andredsim commented on #237
Thats because you arn't splicing the se object. Try

head(se[log(assays(se)$counts,2)<3),]

and let me know what that says

[2022-02-04 15:24] imilenkovic commented on #237
[code]

[2022-02-04 15:38] andredsim commented on #237
Sorry I am not at my work computer so I can't test the line so I am only doing it by eye. This should be right, the final bracket was in the wrong location

head(se[log(assays(se)$counts,2)<3,])

[2022-02-04 15:44] imilenkovic commented on #237
No worries!
I tried that too but it gives a similar error:

[code]

when I just do `head(log(assays(se)$counts)`, it does work and it does perform log2() of all the counts:

[code]

 but for some reason the condition and splicing don't work.

[2022-02-04 15:49] andredsim commented on #237
Oh I see, you have multiple samples. Then you need to summarize them first so you have just one logical vector.

head(se[log(rowSums(assays(se)$counts),2)<3,])
or
head(se[log(rowMeans(assays(se)$counts),2)<3,])
depending how you want to do your threshold
I won't be able reply until tomorrow if this doesn't work sorry as it is late here.
Hope this works.

[2022-02-04 15:52] imilenkovic commented on #237
Ah I see! This worked, thanks a lot, and I'm really sorry for bothering with this until late hours. Have a good night and thanks! :)

[2022-02-07 14:06] imilenkovic opened #239 "Visualizing gene annotation on top of reported/discovered isoforms"
Hello,
I was asking if there is a way to add the gene annotation with all the annotated exons on top of the plot showing all isoforms (annotated and unannotated) that is produced using plotBambu? This way it would be easy to visually compare the detected isoforms to the annotated gene. Thanks!

[2022-02-07 14:33] imilenkovic commented on #237
Hello,
Is it also possible to filter based on a specific column? Something like (assays(se)$counts)$column1? I understand that counts is one of the assays, but I can't figure out how to call specific columns within the assay, and I would like to filter based on a minimal number of counts in each of the columns (ie. column1 > 3 && column2 > 3).
Thanks!

[2022-02-08 00:41] cying111 commented on #239
Hi @imilenkovic , unfortunately we don't provide a visualization for gene annotation on top of transcripts for now. We do provide visualization for gene level annotation and expression, but currently this functionality is a bit buggy. We are currently working to fix that bug and let you know once that is fixed maybe.

[2022-02-09 08:32] andredsim commented on #236
Hi there,
I have updated the BETA read_to_model_map branch to the latest release. Please let me know if you have any success with it.

[2022-02-14 06:36] cying111 commented on #239
Hi @imilenkovic , we have fixed the bug for visualization of gene level annotation and expression. Below are the codes that you can follow:
`seGene <- transcriptToGeneExpression(se) # se is the output from bambu

plotBambu(seGene, group.variable = NULL,
    type = 'annotation',
    gene_id = gene_id_of_interest, transcript_id = NULL)`

Thank you and let us know if you have further questions!

[2022-02-16 10:43] imilenkovic commented on #236
Hello,

Thanks a lot for the update! Could you let me know how I can use this though, I'm not sure what the command is and what output I can get from there? Once I have the se object, where do I go from there? Thanks in advance.

[2022-02-17 01:47] andredsim commented on #236
Sure, you run bambu as normal but add trackReads = TRUE
`se <- bambu(reads = test.bam, annotations = bambuAnnotations, genome = fa.file, trackReads = TRUE)`

You can access the map between the reads and the transcript models via
`metadata(countsSe)$readModelMap`

This is a matrix with the first column being the read ids, and the second being the transcript ids. From there you should be able to fil

[2022-02-22 09:25] andredsim commented on #236
Hi, did you have any luck with getting this to work?

[2022-02-28 08:36] AlinaO311 opened #242 "Pacbio errors creating se object"
Hi!

I have downloaded my genome assembly from here : http://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/hg38.fa.gz

and I have tried these gtf files:

* https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_39/gencode.v39.annotation.gtf.gz
* https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_39/gencode.v39.chr_patch_hapl_scaff.annotation.gtf
* http://ftp.ensembl.org

[2022-03-01 09:51] andredsim commented on #242
Hi,

Since I don't have the bam file its a bit harder for me to troubleshoot, but I will do my best to try and help!

Homo_sapiens.GRCh38.105.chr_patch_hapl_scaff.gtf wouldn't work as it has different scaffold names to the fasta file.

Other other gtf files do not seem to have this issue and look fine on my end. Another potential cause is if the bam file and the fasta files do not agree. Could you

[2022-03-04 10:09] imilenkovic commented on #236
Hello,
I'm sorry for not answering earlier, I will give this a go during the next week and will let you know how it goes! Thanks a lot for all the help.

[2022-03-04 14:15] AlinaO311 commented on #242
Hi! Thanks for your response. I am not able to find the function checkInputSequence() in this package and I checked a few other libraries as well. Do you have a name for the package that function is from?

In any case if I check the seqlevels in the individual bam files, they are the same as the labeled chromosomes when I just grep '>'  the .fa file in the terminal.

If I check that bam seqlevels

[2022-03-07 01:47] andredsim commented on #242
Hi,

Sorry about the confusion. checkInputSequence() is an internal function of Bambu so you can run it like so.

library(bambu)
genome = "genome.fa"
genomeSequence <- bambu:::checkInputSequence(genome)
seqlevels(genomeSequence)

Let me know how that looks, and hopefully we can solve it!

[2022-03-07 15:05] AlinaO311 commented on #242
No worries. I went back to double check the genome file I used originally for mapping with IsoSeq3 and it was from Ensembl [https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_39/GRCh38.primary_assembly.genome.fa.gz] so I use their gtf [gencode.v39.annotation.gtf] which works with the pooled .bam but not the individually sequenced samples.

bamflies
------------

  [1] "chr1"       "

[2022-03-08 02:31] andredsim commented on #242
Hi,

Ok this all looks good and shouldn't cause the issue. I propose two options.

1. Could you send me test.bam3 so I could troubleshoot it from my end. You can email me at andre_sim[at]gis.a-star.edu.sg and we can discuss how to best transfer it.

2. Alternatively if you are unable to send the data I realized another potential cause. When rereading your first post I noticed one of the warnings "

[2022-03-08 02:33] #237 closed

[2022-03-08 02:33] #213 closed

[2022-03-08 23:55] ChangqingW opened #244 "BiocParallel errors: long vectors not supported yet"
I got this error from running on mouse ONT reads. Seems like it is because the number of reads exceeding the limit for `BiocParallel::bplapply`?
[code]
My script:
[code]
[r.dump.rda.zip](https://github.com/GoekeLab/bambu/files/8210516/r.dump.rda.zip)

[2022-03-09 01:48] andredsim commented on #236
Hi,

The ability to track read ID's to the transcript IDs is not yet in the bioconductor version as it is still a beta feature. You need to download the read_to_model_map branch from github and use that version.

`git clone --branch read_to_model_map https://github.com/GoekeLab/bambu.git`

[code]
Hope this helps.

[2022-03-09 07:46] andredsim commented on #244
Hi,

Thank you for sending the r.dump file along with the issue.

Unfortunately I wasn't able to investigate your bam and genome files because they are loading in after the bplapply and are not saved in the r.dump. However I did notice that the annotations file you are using has a length 0, meaning there are no annotations in it. This is what causes this warning message
[code]
So the sample was be

[2022-03-09 23:12] ChangqingW commented on #244
Thank you for your prompt response, it was indeed because of the gff3 annotation I used by mistake.

[2022-03-09 23:12] #244 closed

[2022-03-10 11:29] imilenkovic commented on #236
Hello,

Thanks a lot for all the help!

I managed to get the table with read IDs and transcript IDs, eg.:

"ad1f43c8-e4d4-4580-bde6-eb07a51f2c6d" "ENSMUST00000029546.15"

Let's see if I can make sense of it now :)

Again thanks a lot, I think this feature can be very useful :)

Cheers,
Ivan

[2022-03-10 13:05] AlinaO311 commented on #242
1. Unfortunately as these are patient samples and I am in the EU I think I am not able to share the bam themselves.
2. I reinstalled bambu from Github, is this version correct "bambu_2.1.6"? It still gives me the error below for the individual bam:

´´´
Start generating read class files
  |                                                                                       |   0%not all chromoso

[2022-03-10 16:25] imilenkovic commented on #236
Hello,

So I looked into individual transcript IDs, and some of the transcripts that were reported in the bambu output were not present in this table. Based on your explanation above, this means that the reads mapping to these transcripts were not mapping to all of the exons present in the transcript, but only some of them, and therefore they are not reported in the readID-transcriptID table?

Her

[2022-03-11 03:25] andredsim commented on #236
Hi Ivan,

Glad you were able to get this working.

Could you please check for me how many full length reads were assigned to tx.5827
`assays(se)$fullLengthCounts["tx.5827",]`
This will help be get an idea if its Bambu that is making a mistake or if these gene only has 2 full length reads.

Another helpful way to see where these missing reads are would be to load your bam file in a genome browser (

[2022-03-11 04:00] andredsim commented on #242
Hi, no problems that you cannot send the .bam file, I understand there are often limitations on the data.

I do want to do my best to solve your issue though, especially because it might be an issue we want to fix in the code itself. Are you able to answer any of the follow questions within the constraints of your data privacy rules?

1. How many reads does this individual bam file have?
2. How do

[2022-03-11 09:12] imilenkovic commented on #236
Hi Andre,

So indeed there are only 2 full length reads:

`assays(se_readID_with_discovery)$fullLengthCounts["tx.5827",]`
[code]

Here is a snapshot of the reads in IGV.

![Mouse_cell_lines_Csde1_squished_reads](https://user-images.githubusercontent.com/51703618/157837241-eb064bca-a06f-4120-b04c-3374cd5cb9a2.png)

Is there any other way I can track the faith of non-full length reads? :)

Thanks!

[2022-03-11 09:36] andredsim commented on #236
Hi,

It does look like there are a lot of reads in this region so I am surprised only two would be classified as full length. Is it possible to expand out these annotations and the reads for one of the bams (right click on the track change change it from compressed) so I can see exactly which exons tx.5827 has. Just so I can confirm if this is a bug with Bambu or expected behavior.

We don't suppo

[2022-03-11 21:24] bernardo-heberle opened #245 "Is it possible to add other expression estimates to ouput files?"
Hi,

In the documentation you mention that it is possible to get different expression estimates for each transcript (e.g., "counts", "CPM", "uniqueCounts", "fullLengthCounts", etc...). However when I write the output of the bambu object with the function below:

`writeBambuOutput(se, path = "./bambu/")`

The output files only contain the counts for each sample. Is it possible to output files with

[2022-03-11 21:41] bernardo-heberle opened #246 "How are the count estimates calculated?"
Hi,

I was wondering how the count estimates are calculated in Bambu? More specifically, I was wondering why they often come out in decimals instead of integers?

Are the length of the reads that map to a transcript being divided by transcript length? Or is it something else?

Thank you,
Bernardo

[2022-03-11 21:50] bernardo-heberle commented on #246
Just realized this was already addressed in issue number [#235](https://github.com/GoekeLab/bambu/issues/235). Sorry about that.

[2022-03-11 21:50] #246 closed

[2022-03-14 06:36] cying111 commented on #245
Hi @bernardo-heberle , thanks for asking for this. Yes, this is doable. I have added this feature in another branch which you can use: https://github.com/GoekeLab/bambu/tree/writeOtherEstiamtesOutput

In this branch, running
`writeBambuOutput(se, path = "./bambu/")`

you will see other estimates files in the folder as well.

Hope this has clarified your question. Let us know if there are further q

[2022-03-14 10:54] AlinaO311 commented on #242
1. The individual .bam has 4600 reads using ( samtools view -c test.bam3)
2. The combined bam file has 47096 using same command
3. I added it to my new command and now it is producing an .rds file
4. With NDR =1 it does seem to complete quantification successfully! Although there is a Warning or error output:
´´´
Less than 50 TRUE or FALSE read classes for precision stabilization.
          Filter

[2022-03-14 15:02] bernardo-heberle commented on #245
That's great, thank you @cying111,

I really appreciate how helpful you and the rest of the Bambu dev team are.

[2022-03-14 15:02] #245 closed

[2022-03-14 15:16] bernardo-heberle opened #248 "Is it possible to get transcript coverage estimates from Bambu?"
Hi,

I am working on a project where it would be helpful to have coverage estimates for transcripts. I know that counts should  theoretically be a good estimate of coverage since we are dealing with long-reads, but RNA/cDNA quality scores are never perfect and it is expected that there will be a significant number of sheared/degraded molecules being sequenced.

I was wondering if you would conside

[2022-03-15 02:09] andredsim commented on #242
Hi, great to hear this works.

Just a few comments first. 4600 reads is very low, we never tested at this limit and I imagine there are very few transcripts which have greater than 2 read support (the minimum) which might explain the the errors encountered. I would recommend being very cautious interpreting this data.

NDR of 1 means that every observed read (with unique exon junctions) is being t

[2022-03-16 08:15] cying111 commented on #248
Hi @bernardo-heberle , this is a good point. We should definitely consider to do that for future release maybe, which probably takes some time to implement.

For now, you may do the following steps to get coverage based on bambu outputs:
- create a transcriptome fasta file based on the bambu annotations
- then use this fasta file to do transcriptome alignment
- calculate coverage based on the tran

[2022-03-23 08:12] AlinaO311 commented on #242
Hi again!

I tried your suggestion and sadly still not working. Using the below commands:
´´´
se1a <-bambu(reads = combined.bam, annotations = bambuAnnot, genome = fa.file, NDR=1, rcOutDir = "outFiles/", discovery = TRUE)
se1b <-bambu(reads = combined.bam, annotations = bambuAnnot, genome = fa.file, NDR=1, rcOutDir = "outFiles/", discovery = TRUE, stranded=TRUE, opt.discovery = list(min.readFracti

[2022-03-24 13:50] JintaoL666 opened #252 "The usage of the m6anet()"
Hello,
I can not express my issue  suffriciently in english, so I write my question in chinese.
我们在对测序数序数据用m6anet做甲基化分析时，使用Nanopolish软件，需要通过guppy识别得到的带甲基化信息的fastq文件，该过程您使用的那个配置文件？我们只找到了dna_r9.4.1_450bps_modbases_5mc_hac.cfg，由于是Direct_RNA seq数据不匹配（U & T）。
另外，您可以分享一下具体的流程代码吗？我们参考一下，您可以发到我的邮箱吗？1451153371@qq.com，非常感谢您，祝您生活愉快。

[2022-03-24 13:57] JintaoL666 commented on #252
Dear Dr. Chen:

Thank you very much for your valuable helps!  Look forward to hearing from you.

Best Regards，

Jintao Liu.

[2022-03-25 03:21] jonathangoeke opened #254 "replace assignGeneIDexonMatch with assignGeneIDs"
- use a single function for this task (assignGeneIDs ranks by similarity)
- make consistent how transcripts are assigned that match genes through intermediate novel transcripts: assign read class to genes iteratively, require that the strand matches that of the gene

[2022-03-28 02:47] cying111 commented on #252
Hi @JintaoL666 , I have replied you through the email. Do let us know if there are furture questions. Btw, I would encourage you to open a github issue in the [m6anet repo](https://github.com/GoekeLab/m6anet/issues) so that Christ could help directly.

Thank you

[2022-03-30 01:30] ChangqingW opened #255 "Import GenomeInfoDb::seqlengths"
Hello,
I was trying to use Bambu in our [FLAMES](https://github.com/OliverVoogd/FLAMES) package, but I am having trouble with `bambu::bambu(...)`, this error can be reproduced by calling `bambu::bambu(...)` directly without `library(bambu)`
[code]

Could this be because Bambu is not importing GenomeInfoDb::seqlengths properly?
Perhaps you could add `#' @importFrom GenomeInfoDb seqlengths` to [R/ba

[2022-03-30 02:47] andredsim commented on #242
Hi,
Sorry for the late response, I was away for the last week. Did you try the below too?
`which(is.nan(assays(se1a)$counts)) `
If this also is `interger(0)` then I am quite confused.

[2022-03-30 03:57] andredsim commented on #242
Hi, sorry for the late reply I was away the last week.
I think I have realized the problem. The pca and heatmap methods for plotBambu are only for multi sample analysis (comparing the samples to each other). Each of your runs is only using one bam file (1 sample per bam), so it can't make a PCA plot with only 1 column.
To do multiple sample analysis you need to pass multiple bam files to the reads

[2022-03-31 06:43] cying111 commented on #255
Hi @ChangqingW , glad to see that you find our package being helpful. Thank you for the suggestion, just had a quick check, we didn't import seqlengths function in the NAMESPACE properly, we will include that in our future release. Have you installed and attached `GenomeInfoDb` where the `seqlengths` function is from? This might help to resolve the problem for now.

Regards,
Ying

[2022-04-06 02:38] andredsim commented on #242
Hi,

Good news. I was able to get a dataset that produced your original error
`'seqlevels(seqinfo(x))' and 'levels(seqnames(x))' are not identical`
and was able to track down what was causing it and I am implemented a bug fix which you can access on the no_novel_annotations_crash branch. We will work to get this merged into the master branch as soon as possible, but I believe with this change you

[2022-04-21 06:05] jonathangoeke opened #261 "estimate relative read count/ subset read count for final annotation object"
- estimate the relative read count for each transcripts based on the sum of all reads across all samples
- estimate the relative subset read count (based on read counts across all samples)
- return values with the annotation object for post filtering

[2022-04-21 06:07] jonathangoeke commented on #254
implemented in #260

[2022-04-22 06:56] jonathangoeke opened #262 "enable fusion transcript discovery with bambu"
Include a fusion transcript discovery and qantification mode:
- input requires reads that are aligned to a "fusion genome" that includes the predicted breakpoints"
- input requires the "fusion genome" annotations
- return predicted fusion genes and transcrtipts and their expression estimates

[2022-04-22 06:56] jonathangoeke commented on #261
implemented in #260

[2022-04-22 06:57] jonathangoeke commented on #262
implemented in #260

[2022-04-22 06:58] jonathangoeke opened #263 "implement post filter function based on average across all samples"
- currently implemented in fusion gene mode for just the subset filter
- Additional filters could be added
- documentation is needed

[2022-04-22 06:58] jonathangoeke commented on #263
implemented in #260

[2022-04-23 17:56] DrOllyGomez opened #264 "Not all chromosomes present in reference annotations."
console looks like:

Start generating read class files
iteration: 1not all chromosomes present in reference annotations,
            annotations might be incomplete. Please compare objects
            on the same reference

Error: BiocParallel errors
  1 remote errors, element index: 1
  11 unevaluated and other errors
  first remote error: attempt to set too many names (1) on IRanges object of le

[2022-04-27 05:56] cying111 commented on #264
Hi @DrOllyGomez ,

Based on the error message, it looks like one of the internal objects is unexpectedly empty. The two files that you used also look good to me as they are compatible. May I know which system are you running this on, Windows or Mac?

[2022-04-27 12:31] DrOllyGomez commented on #264
Hiya!
I'm using Ubuntu 20, and I'm running bambu from a singularity image that I obtained from the nf-core nanoseq project (I dont run that pipeline (yet), I am using the image with bambu in it as a standalone app, via a shell into the container.)

In case it is relevant, here is some preparatory code I use to make the bams I aligned using the resources I mentioned:

[code]
I'm very grateful for y

[2022-04-27 23:51] cying111 commented on #264
Hi @DrOllyGomez , thanks for showing the code that you used to map the reads, it is very helpful. It looks to me like the parameter that you are using is for aligning genomic reads not RNA/cDNA reads, which may give you very little aligned reads and later caused the error I believe, to check that, you can run the following code on your bam file:
`samtools flagstat your_bam_file`
You probably will

[2022-04-28 09:31] DrOllyGomez commented on #264
Closing ticket, operator supplied wrong input.

[2022-04-28 09:31] #264 closed

[2022-05-09 04:08] andredsim opened #270 "NDR threshold is automatically calculated"
Users cannot know how incomplete their reference annotations are, making the initial decision of what the NDR threshold should be a mostly uninformed decision. Can bambu approximate how many annotations may be missing based on the NDR of the default model.

[2022-05-09 04:11] andredsim opened #271 "Bambu should tell users when the default model is out performing the fitted model"
If users are using a poor annotation set it is possible the fitted model will preform worse due to the increased presence of false negative labels. If the fitted model ends up doing worse than the default model which is trained with a well annotated genome, bambu should let the user know so they can use the default model instead.

[2022-05-09 04:11] andredsim opened #272 "Allow users to train and input new default models"
The default model is trained using a nanopore direct rna human dataset. Whilst it does seem broadly applicable, it is possible that in vastly different species and sample preparations, the default model is not suitable. this is mainly important in the niche cases where sample specific training cannot be performed, such as de-novo annotations, or very poor annotations.
Users should be able to train

[2022-05-09 05:05] andredsim opened #273 "return read count, NDR etc for all transcripts (not just novel transcripts)"
read classes which are identical to annotations will be replaced with annotations, read count and other information will be lost. When replacing read classes with annotations, track read count and other metrics (relative read count, subset read count,...) that are specific to the matching read classes.

[2022-05-09 05:33] cying111 opened #274 "Implement noncompatible filter for transcript quantificaiton"
In the previous version of bambu quantification, all read alignments will be used to count towards output annotations obtained in discovery step. However, this will overly contribute to the existing isoform if there is a missing similar isoform. In order to fix this, we have implemented a non-compatible filtering before quantification. This filtering step makes use of the distTable to find out if

[2022-05-27 08:08] yeroslaviz opened #275 "counts() doesn't work"
I can't access the counts of the object.

The command I use to run bambu is

`bambu(reads = bam.porechopped, annotations = bambuAnnotations, genome = fa.file )
`
and when I try to access the counts I get the following error

[code]

The only way I can access the `tx` counts is by using this command:

`assays(se)$counts`

any ideas?

thanks

[2022-05-31 01:43] cying111 commented on #275
Hi @yeroslaviz , as you noticed, the reported se is a `RangedSummarizedExperiment` object, the transcript expression can only be accessed by `assays(se)$counts`, accessing by `counts` would not work. Hope this clarified your question.

[2022-06-03 08:27] yeroslaviz commented on #275
thanks for the answer. Yes i have noticed it and was also able to get the counts like you mentioned. I still don't understnad why i have the `RangedSummarizedExperiment` object and not, like stated in the manual just a `SummarizedExperiment`.
Any specific reason for that?

[2022-06-06 02:41] cying111 commented on #275
Hi @yeroslaviz , sorry for the confusion, I gues that's a typo on our side, we will update the manual. Thank you for pointing this out!

[2022-06-15 07:25] #275 closed

[2022-06-21 15:29] gringer opened #277 "Can't run bambu: attempt to set too many names (1) on IRanges object of length 0"
I'm trying to use bambu on my minimap2-mapped nanopore cDNA reads, and it's not working:

[code]

I initially thought this was because I was using multiple files as input, but the error still occurs when using a single file. I then noticed that I had the wrong GTF file for my annotation (I was using the CHR GTF file, rather than the PRI one). Still, the error persisted. I then wondered if the disc

[2022-06-22 03:54] gringer commented on #277
Digging down into the code a little deeper, this is in the `bambu.processReads` function:

[code]

[2022-06-22 05:23] gringer commented on #277
Okay, so this was fixed by applying the general recommended practise of, "Have You Tried Turning It Off And On Again?"

In other words, I restarted R, and reran my code. Problem has disappeared, although it's still reporting annotation issues (presumably due to scaffolds having no annotation):

[code]

It would have been easier/quicker to realise what the problem was by displaying `genomeSequence`

[2022-06-22 05:23] #277 closed

[2022-06-22 20:29] bernardo-heberle opened #278 "How to use `rcOutDir` option to process multiple samples and avoid out of memory errors?"
Hello,

I am running 9 cDNA samples sequenced on the PromethION with Bambu. Each ".bam" file is ~30GB long after filtering the reads, so the total amount of data being processed by Bambu is ~270GB. I noticed that the memory requirements are getting pretty high, as the job will fail with 500GB of RAM memory, but will complete if I increase the RAM to 1000GB.  Here is the command I am running:

`se_

[2022-06-23 02:08] cying111 commented on #278
Hi @bernardo-heberle, usually the processing memory hikes when preprocessing the bam files, so what we would recommend for very large samples, is to 1) process them individually with discovery mode only `discovery = TRUE, quantification = FALSE` and save the read class file to rcOutDir as what you have done, and then after all files are processed, 2) supply all read class files' paths as a charact

[2022-06-24 11:34] lingminhao opened #279 "bambu.processReads has no trackReads and fusionMode parameter"
In the function bambu.processReads of bambu-dev branch, there's no trackReads and fusionMode parameter but it is needed in the readClassList variable assignment in the function.

[2022-06-24 13:04] lingminhao opened #280 "No novel transcripts meet the given threshold"
If we run bambu with a given NDR threshold and there are no novel transcripts below the given threshold, an error will occur.
![image](https://user-images.githubusercontent.com/53725270/175541792-932fc6f4-dd2b-4848-ba0d-cbf7be8b066a.png)

[2022-06-26 03:08] bernardo-heberle commented on #278
Thank you for the quick and effective response @cying111! The solutions you suggested worked well and I am able to run all of the samples with no issues now.

[2022-06-26 03:08] #278 closed

[2022-06-28 07:16] gringer opened #281 "Extreme mismatch between JBrowse coverage and Bambu mapping (moderate vs 0 expression)"
After reporting Bambu results to the biologists I have been working with, they noticed a number of odd counting behaviours from the Bambu output.

One gene in particular that surprised me was Sdhc, a negative strand gene on chr1, ranked high in terms of its differential expression, but this differential expression was not represented in the transcripts.

This gene is obviously expressed in JBrowse

[2022-06-29 07:48] cying111 commented on #281
Hi @gringer , this was caused by one of the bug which we have now fixed in a separate branch that you may use (https://github.com/GoekeLab/bambu/tree/modifyQuant), and with this branch, it should report the values as expected.
See below for the results I get:
`                      p0_CGAug18_004_BC05 p0_CGDec17_001_BC07 p0_CGNov18_005_BC03 SCL_CGNov18_005_BC04 SCL_CGNov18_005_BC05 SCL_CGNov18_005

[2022-06-30 06:00] gringer commented on #281
Just confirming that this has fixed the immediate problem we have been having with `Sdhc` counts:

[code]

[2022-06-30 11:27] gringer opened #282 "Inconsistent read counts within polycistronic transcripts with near-constant expression"
In our mouse cDNA data, we hypothesise that mt-Atp6 and mt-Atp8 are encoded together on the mouse mitochondrial genome as a single polycistronic unit, which is demonstrated by observing co-expression at what appears to be identical levels in all samples:

<img width="1440" alt="Screen Shot 2022-06-30 at 20 30 54" src="https://user-images.githubusercontent.com/856314/176662429-fdb7ad49-e5ef-4bcb-8a

[2022-07-01 07:21] gringer opened #283 "object 'TRUlibrE' not found"
I've been provided with the following screenshot from a colleague who is trying to use bambu with human nanopore cDNA reads:

<img width="1058" alt="R error output from bambu" src="https://user-images.githubusercontent.com/856314/176844217-21dc6a59-ecde-4d59-819c-5c92c3a47547.png">

Not quite sure what's going on here, yet, unfortunately.

[2022-07-04 06:29] jonathangoeke commented on #283
`stranded=TRUE` should fix this, TRUlibrE is not defined, most likely a typo

[2022-07-08 06:07] gringer opened #284 "Inconsistent read counts with transcript isoforms ending at different locations (unsupported by reads)"
We've found another odd result in our transcript count data surrounding the gene Apex1 (and at least one other similar gene). This gene has three transcript isoforms that were counted above 0.5 total reads in all samples, ENSMUST00000049411.12 (Apex1-201), ENSMUST00000154288.3 (Apex1-204), and ENSMUST00000136753.8 (Apex1-203).

From our combined bambu/DESeq2 analysis, it appears that one of these

[2022-07-08 09:06] cying111 commented on #281
I will just close this issue for now.

[2022-07-09 22:44] alexanderc88 opened #285 "CPM to TPM?"
I was just wondering if -- in the case of quantifying long reads the way Bambu does -- CPMs are in fact equivalent to TPMs?  And if not, what would the conversion equation look like?

[2022-07-11 01:29] #283 closed

[2022-07-12 06:48] cying111 commented on #282
Hi @gringer , this scenarios is a bit tricky. In fact, during estimation, for reads that map acorss multiple genes, they will usually be randomly assigned to one of the genes and currently we don't enforce any control on this, so it would very likely happen when different genes are chosen in different samples. Another possible reason that might explain this inconsistency could be there exist diffe

[2022-07-13 08:39] #274 closed

[2022-07-13 08:48] cying111 commented on #281
The issue is fixed in modifyQuant branch

[2022-07-13 08:49] cying111 commented on #280
This issue is resolved in modifyQuant branch

[2022-07-13 08:49] cying111 commented on #279
This issue is fixed in modifyQuant branch

[2022-07-13 14:30] gringer commented on #282
Would it be possible to do something like flag reads that are multi-mapping, and assign their reads randomly at the end once all counts have been observed? I wouldn't mind if the reads were randomly assigned, but that's not the case here; there are clearly sample-specific systematic mapping differences for transcripts that (from what I can tell from the minimap2 coverage results) have essentially

[2022-07-14 07:03] lingminhao opened #288 "Update unit test & documentation for prepareAnnotations function"
The unit test & documentation for `prepareAnnotations` function is incomplete. Some suggested tests to include are:

Unit test:
- check that the output of the function is correct.
- check that the positive/negative strand gives ascending/descending exon rank (and vice versa for exon end rank).
- check that the transcript is in its own equivalence class.
- check that the equivalence class of a tran

[2022-07-14 07:24] #288 closed

[2022-07-18 06:08] cying111 opened #289 "rmove theta from se output to reduce the size of output object"
theta can be obtained by counts/N, so can remove from the final output object

[2022-07-18 06:23] jonathangoeke opened #291 "unit test for writeBambuOutput()"
- add a unit test for `writeBambuOutput()`

[2022-07-18 06:48] lingminhao opened #292 "unit test and update documentation for compareTranscripts()"
The unit test & documentation for the `compareTranscripts()` function is incomplete.

The test should cover all possible scenarios when comparing two transcripts from alternative splicing events.
The documentation should explain what is alternative splicing events (which two transcripts to compare). The documentation should also explain each column of the output (a `tibble` object).

[2022-07-19 03:49] lingminhao opened #294 "replace se output file in extdata"
This issue is created to update those `SummarizedExperiment` output files found in extdata in accordance to #290 .

[2022-07-21 02:40] callumparr opened #298 "Counting step includes all reads feed in in the BAM"
1) Is there any filtering steps of reads going from the BAM alignment file to final transcriptome assembly. I.e. are some reads discards because they fail some QC filter like fraction coverage or read identity?

2) related to no.1. Is the counting at the end based on all reads from the original BAM files or only counting reads that were used to assemble the transcripts?

[2022-07-22 05:21] cying111 opened #299 "remove partial length counts report as they are not so useful and can be easily get by total counts minus full length counts"

[2022-07-22 05:56] #289 closed

[2022-07-22 21:33] #285 closed

[2022-07-22 21:37] alexanderc88 opened #300 "Novel/Unannotated Isoforms"
Hi there,

So I'm trying to look at novel/unannotated isoforms detected and quantified by Bambu and I'd just like some clarification and/or advice.  So basically I get an extended annotation GTF file, and upon looking at it, it contains all the Ensemble transcript IDs that were in my reference GTF, plus several hundred Ensemble transcript IDs that were not in my reference GTF.  Where is Bambu gett

[2022-07-26 13:35] danledinh opened #301 "Output counts grouped by a cell barcode field in BAM file?"
Output counts grouped by a cell barcode field in BAM file?

[2022-07-28 08:52] yeroslaviz opened #302 "error with bambu for a big file"
My bam file was mapped with `minimap2` using the `-ax splice` option against the reference genome of C. elegans.
When trying to quantify the data I get the following error:

[code]

I am not sure about the warning as well, as i have the same reference genome in both runs.But the error keep breaking my run. any ideas what this can be?

thanks

[code]

[2022-07-28 10:29] yeroslaviz commented on #302
I tested if splitting the bam file would help. I did this with `bamtools split` by chromosome and now it works. any ideas why (or what is) the size limit?

[2022-08-10 19:55] bernardo-heberle opened #303 ""Novel" highly expressed mitochondrial transcript discovered with Bambu not found in IGV genome browser read stack."
Hi,

I am running human brain nanopore cDNA samples and doing quantification/discovery using Bambu. I recently found this novel highly expressed (~10^6 counts per sample) mitochondrial RNA species. This species had a spliced out intron as can be seen in the isoform at the top of the image:

 ![image](https://user-images.githubusercontent.com/81333350/183984539-b9427eb4-48d6-4541-8445-899635226d27.

[2022-08-16 09:28] andredsim commented on #303
Hi,

Thanks for leaving such a detailed bug report and I apologize for the delayed reply. I have gone through your RDS files and could mostly replicate your observation. It seems there is a 2 prong error.
 1. I find several spliced transcripts reported by Bambu in this area, which does not match the IGV video you uploaded (a discovery error). From the final bambu output I would expect 1475 reads t

[2022-08-16 09:45] andredsim commented on #302
Hi,

Sorry for the delayed response. As you suspect, I do not think this is an issue with the size but rather the alignments on chrI. From the error message alone it is hard for me to say what exactly could be the issue so I will recommend a few very general troubleshooting things first before delving deeper.

I know you said you used the same genome for both runs but could I get you to please tri

[2022-08-16 09:48] andredsim commented on #300
Hi there,

Sorry for the late response. Bambu shouldn't be able to create new ensembl transcript IDs. All novel transcripts will be assigned a transcript id of tx.XXX where XXX is an arbitrary id. They may be assigned an ensembl gene ID if they overlap with an annotated gene, but these ID should already be present in the annotation GTF file.

If this doesn't answer your question, you could send me

[2022-08-16 09:54] andredsim commented on #298
Hi there,

Sorry for the delayed response.

1. All reads in the bam file are used to identify novel transcripts as we do not filter them out based on the statistics you mentioned. However reads may end up not contributing to the final transcriptome assembly for other reasons such as the transcript not having enough read support. the full explanation of how this filtering works is best left to the

[2022-08-16 09:54] #298 closed

[2022-08-16 10:03] andredsim commented on #284
Hi there,

Sorry for the extremely late response to your query. You are correct that these reads clearly look like they belong to Apex1-203 reads instead of  Apex1-201. We currently focus on identifying read alignment using splice junctions, so when annotations have two transcripts that share junctions and the only difference is alternative start or end sites our assignments are not always as prec

[2022-08-16 10:03] #279 closed

[2022-08-16 10:04] #273 closed

[2022-08-16 10:04] #272 closed

[2022-08-16 10:04] #271 closed

[2022-08-16 10:04] #270 closed

[2022-08-16 10:04] #255 closed

[2022-08-16 14:17] bernardo-heberle commented on #303
Hi @andredsim,

No problem, thank you for the reply and for looking into this.

Yes, we do expect a high % of reads aligning to the MT chromosome. These samples are from human brain, which has high energetic needs and thus ends up having a much higher percentage of mitochondrial reads than most other tissues. I took a quick look at the samtools idxstats for the bam files and they return similar nu

[2022-08-16 15:51] alexanderc88 commented on #300
Hey Andre,

No worries, I got that part figured out.  But I do have another question:
I’ve been trying out different cutoffs for de novo isoform detection and no
matter how little stringency, Bambu doesn’t seem to detect more than ~20 or
so unannotated transcripts in a given sample.  Do you have recommendations
for how to optimize discovery mode settings to best detect unannotated
transcripts?

Be

[2022-08-17 01:10] andredsim commented on #300
Hi Alex,

There are many things that could influence this. Which parameters are you using for your bambu run and is this a standard long-read run or a custom library preparation (i.e used primers to target specific genes)?

I would recommend just using the NDR (novel discovery rate) parameter and if you want a more sensitive output increasing the NDR. In a human sample we generally use between .1-

[2022-08-17 07:07] andredsim commented on #303
Hi,

Thanks for the bam file. I was able to find several reads (40) that matched this junction albeit not as high level as the counts table would indicate.
![image](https://user-images.githubusercontent.com/17838991/185052036-54430fcb-c56a-4c10-a9d0-ed462faa5af6.png)
As to why they can't be seen in IGV, and this took me awhile to realize, but because there are so many reads in this location, by de

[2022-08-17 07:07] #303 closed

[2022-08-17 14:04] bernardo-heberle commented on #303
That's great, thank you for your thorough analysis of the bug! The suggestions you gave should do the trick.

I actually meant to be more stringent/precise with the gene/transcript discovery, but I misinterpreted the documentation. I thought a higher NDR would yield more precise results, but it is actually the opposite. Now that I think about it a bit more that makes sense that a lower Novel Disco

[2022-08-18 01:17] andredsim commented on #303
Great, thanks for your suggestion, it is definitely very unclear there. We do have an updated documentation branch that is being rolled out with the next big update aptly named "documentation_update". You are welcome to read that, it won't be 100% accurate to the current version you have but the concepts should be the same.

Best of luck!

[2022-08-18 22:13] alexanderc88 commented on #300
Hey Andre,
Below is an example of how I'm running Bambu.  For "x", I tried 0.01, 0.05,
0.10 (default), 0.25, 0.50, 0.75 and 1.00.  The "bam_file" is from a
standard long-read run.  The results were actually the exact same across
all NDR levels, which was that only annotated transcripts were detected and
quantified.  When I instead tried messing with minGeneFrac and
minReadCount, it did detect some

[2022-08-19 05:18] andredsim commented on #300
Hi Alex,

This is very strange, if the NDR is 1, you should be getting loads of novel transcripts as that is maximum sensitivity.

Could you let me know how you changed minGeneFrac, and minReadCount that allowed you to get some unannotated transcripts? This might give me a clue as to what might be occuring.

Could you also please try a run where you replace makeTxDbFromGFF(gtf_file) with prepareAn

[2022-08-19 20:37] alexanderc88 commented on #300
Hey Andre,

I was getting novel transcripts with min.readCount <=5, and with
min.readFractionByGene <= 0.05 I got just a few novel transcripts.  I am
now trying out min.readFractionByGene = 0.05 with different NDRs (0.25,
0.50, 0.75, 1.00) to see how that does.  I've also added the rcOutDir
argument so I'll send you one of the outputs when it's finished.  The
reason I'm using makeTxDbFromGFF inste

[2022-08-22 02:15] andredsim commented on #300
Hi Alex,

The default threshold for min.readCount is 2, meaning only transcripts with 1 full length read are filtered out via this threshold. Your threshold of 5 is therefore less sensitive than the default. (Note that it is >= not <=)
The default min.readFractionByGene is also 0.05.

Let me know once you can upload the rcOutDir, it gets produced before the quantification step, so it make be in th

[2022-08-22 05:28] cying111 commented on #302
Hi @yeroslaviz ,

following up on Andre's suggestion, you may also try to do the following,
- do discovery and quantification separately,
- set a specific value to yieldSize, which controls the read in of bam files, say 1,000,000 yieldSize = 1000000, so that the memory usage is a bit controlled.
- use a limited number of cpus, when you fail with a certain number of cpus, you can always lower the c

[2022-08-22 19:05] alexanderc88 commented on #300
Hey Andre,

Right, I tried several different min.readCount and min.readFractionByGene
cutoffs from more to less stringent and like I said I was able to detect
just a few novel transcripts from those cutoffs downward.  It is strange
that I didn't get any when increasing the NDR compared to even default
cutoffs.

With the custom annotation, when I used prepareAnnotations I noticed the
resulting txdb

[2022-08-23 06:02] cying111 opened #309 "fix error when seqlevels of annotations does not contain complete seqlevels of fasta and data"
In the case when fasta contain seqlevels that are not in annotations, for example, alt chromosomes, which may not be useful but if provided, bambu will throw an error.

[2022-08-23 06:28] cying111 commented on #309
fixed in this commit: https://github.com/GoekeLab/bambu/commit/3ed4dd562dbd7da321c7f4716458c45e7f4a146e

[2022-08-23 06:28] #309 closed

[2022-08-23 06:31] andredsim commented on #300
Hi Alex,

Thanks for sending the rcFile. I havn't finished investigating this, but I will update you with what I have seen so far. I had a look at the rcFile and Bambu reports 523982 read classes (with 2 or more reads), with 14283 being already annotated and the remaining 509699 being novel candidates.

When I look at the transcript probability score of these read classes, nearly all the novel can

[2022-08-23 19:35] alexanderc88 commented on #300
Do you think it's possible that many/all of the novel transcripts just
aren't being included in the output from writeBambuOutput()?  Because I'm
primarily looking at the transcript counts and the GTF file given from that
command.  Also, is there a way to manually filter the rcFile myself?

Best,

Alex

On Mon, Aug 22, 2022 at 11:31 PM Andre Sim ***@***.***> wrote:

[2022-08-30 19:52] bernardo-heberle opened #310 "How does bambu handle secondary/supplementary alignmets, low MAPQ, and MAPQ=0 (reads that align equally well to 2+ loci)?"
Hello,

I was wondering how Bambu handles these three alignment cases:

1. Secondary and Supplementary alignments in a bam file? Does Bambu do anything with those or just ignores them?

2. Low MAPQ score? Is there a threshold where Bambu stops taking a read alignment into account if the MAPQ is too low?

3. MAPQ=0? From my understanding when a read aligns equally well to two or more different loci

[2022-09-05 02:57] andredsim commented on #310
Hi,

Thanks for your questions, see the answer to each below:

1.
Secondary alignments - Ignored by Bambu
Supplementary alignments - Included by Bambu and treated as normal reads.

2. Currently Bambu does not filter by MAPQ score. If you have particular requirements based on your aligner, we would recommend filtering the bam file by MAPQ before providing it to Bambu.

3. If this case occurs, Bambu

[2022-09-05 02:57] #310 closed

[2022-09-05 02:59] #302 closed

[2022-09-05 03:53] andredsim commented on #300
Hi Alex,

Sorry again for the belated response. I was a bit busy the last week and didn't get a chance to investigate this further until today.

I found that the majority of candidate novel transcripts in this sample appear to be subsets of known transcripts. That is transcripts which share a continuous run of exons with a known transcript and could also be produced by degradation of the transcrip

[2022-09-05 03:53] #300 closed

[2022-09-05 05:45] #210 closed

[2022-09-05 05:49] andredsim commented on #210
This was solved quite awhile ago, and I didn't realize there was an issue posted for it.
#05133ca #3a94b32 #6fce152

[2022-09-05 05:51] andredsim commented on #236
Hi, be on the look out for the next release of bambu as we have added partial matches to the trackReads output. See the documentation in the github readme for more information.

[2022-09-05 05:51] #236 closed

[2022-09-05 05:54] #299 closed

[2022-09-05 05:54] #242 closed

[2022-09-05 05:55] #254 closed

[2022-09-05 05:55] #252 closed

[2022-09-05 05:59] #220 closed

[2022-09-05 06:52] andredsim commented on #224
In BambuManuscriptRevision we have updated the documentation to make it clearer how to output only novel annotations.
For easy access find it below.

If you are only interested in the novel transcripts, one can filter this 'se' object first to remove reference annotations.
[code]

[2022-09-05 06:52] #224 closed

[2022-09-05 06:53] #234 closed

[2022-09-05 06:53] #239 closed

[2022-09-05 06:54] #261 closed

[2022-09-05 06:55] #262 closed

[2022-09-05 06:55] #263 closed

[2022-09-05 06:55] #280 closed

[2022-09-05 06:56] #281 closed

[2022-09-06 01:32] andredsim commented on #301
Hi,

Sorry for the late reply. I am not sure exactly what you are asking for but I will do my best to try and answer.

If you already know the read - cell assignment. You can use the trackReads = TRUE option in bambu to produce a read-to-transcript map. This would allow you to map the barcodes from the reads directly to the transcripts.

Bambu currently doesn't use and cell barcodes during its pro

[2022-09-06 01:32] #301 closed

[2022-09-13 15:18] seongwoohan opened #312 "Data loading issue"
Hello, I am running BAMBU with my datasets. It looks like the error is saying the reference annotation isn't correct, but I used these three files in other long read packages and worked well. Is there anything I missed in the command line? I tried moving the files into the directory using system.file as the tutorial, but it fails with the same reasons. I converted fastq file to sam file using mini

[2022-09-13 23:38] #312 closed

[2022-09-14 02:13] seongwoohan commented on #312
Hello, the main issue was due to minimap2 mapping. cDNA and direct RNA have different command line. Changing the command line solves the issue. Upon this one, I have one question regarding the final output, gtf file. I can see it's an "extended_annotations.gtf" that contains extended transcript & gene annotations for the genome using long reads data. Do you also have something like "transcript_mod

[2022-09-14 02:54] andredsim commented on #312
Hi,

Just to make sure I understand your question, are you asking to have just the gtf output for transcripts that have read support in the sample, and any reference annotations that arn't expressed shouldn't be in the output gtf?

If so you can filter out the annotations that have no full-length read support.

`constructedAnnotations = se[assays(se)$fullLengthCounts > 0]`

If you only want the an

[2022-09-14 03:38] andredsim commented on #312
Oh one other thing I might recommend is using this branch https://github.com/GoekeLab/bambu/tree/BambuManuscriptRevision. It will be the next update and the documentation is more complete.

[2022-09-14 19:10] seongwoohan commented on #312
Thanks for the help! Is there a manuscript for BAMBU? Also, does BAMBU detect novel intron retention?

[2022-09-15 03:21] seongwoohan opened #315 "BAMBU extended gtf file output?"
Hello there, I want to know what "extended_annotations.gtf is here (https://github.com/GoekeLab/sg-nex-data/blob/master/docs/SG-NEx_Bambu_tutorial.md#running-bambu)," one of BAMBU's main outputs. It sounds like extended_annotations.gtf is a file with the entire reference annotation plus all discovered novel transcripts. This is a size of about 200 Mb. What I am trying to get is something like "tra

[2022-09-15 03:52] andredsim commented on #315
Hi there,

Did you try the code I posted in the other issue? This line filters the output and you can then write the output as usual.

`constructedAnnotations = se[assays(se)$fullLengthCounts > 0]`

If you only want the annotations that are novel and not found in the reference annotations:

`novelAnnotations = se[mcols(se)$newTxClass != "annotation"]`

Let me know if this doesn't work for you.

Ba

[2022-09-15 14:02] seongwoohan commented on #315
Thank you for the kind explanation! I did try your suggestions. Let me draw an example that I want :)

Imagine this Venn diagram with genome reference and BAMBU.

What `novelAnnotations = se[mcols(se)$newTxClass != "annotation"]` does is finding the roman number II, which is transcripts (or junctions) only found in BAMBU, not in reference. This contains 288 kb. What I want is **roman number II + r

[2022-09-15 15:11] seongwoohan commented on #315
I forgot to add the first command line results. I get this error for that one in the screenshot. Anyway, let me know about the roman number II + III, thank you!

<img width="680" alt="Screen Shot 2022-09-15 at 11 10 12 AM" src="https://user-images.githubusercontent.com/19489536/190440619-ca484e12-b150-4e47-846f-8425b220d7b1.png">

[2022-09-15 16:13] andredsim commented on #315
Hi,

For the line you ran (constructedAnnotations = se[assays(se)$fullLengthCounts > 0]) that should filter down to II + III.
The red text is just a warning not an error. It leaves you with 26687 constructed transcript models.
To output this use
`writeBambuOutput(constructedAnnotations, path = "./YOUR_PATH_HERE/")`

I hope I understood you correctly and could solve your issue. I am going on leave

[2022-09-15 19:18] seongwoohan commented on #315
Thank you for the help! I got the output as I requested. I guess I need more time to play with BAMBU. Have a good vacation :)

[2022-09-15 19:18] #315 closed

[2022-09-19 20:07] alexanderc88 opened #316 "BiocParallel error during isoform quantification step"
When I run Bambu (which I've run without issue on other samples), I'm getting this uninformative error.  Below is the code I used to run Bambu, which is no different from how I've run it in the past besides the BAM file.  Note that I have used prepareAnnotations() in the past and for this example, with no difference in the outcome.  The annotation GTF is a compiled annotation of GENCODE v41 for GR

[2022-09-19 22:02] seongwoohan opened #317 "NDR error (unused argument)"
Hello, I want to do transcript discovery only as here (https://github.com/GoekeLab/bambu/tree/BambuManuscriptRevision#modulating-the-sensitivity-of-discovery-pre-and-post-analysis), but it says NDR is unused. Did I miss a command line? Can someone help me with this, please?
![Screen Shot 2022-09-19 at 5 37 34 PM](https://user-images.githubusercontent.com/19489536/191127602-1db93d0c-becb-4640-8928-

[2022-09-26 02:20] andredsim commented on #317
Hi,

Great you are taking advantage of our beta branch and documentation, I hope it is more helpful.

Just to check as this would be the most likely cause, have you loaded in the correct version of bambu? If you are using `library(bambu)` this will be the master branch and not the BambuManscriptRevision branch with the updated features and arguments mentioned in the documentation.

You may need to

[2022-09-26 02:48] andredsim commented on #316
Hi,

It is unlikely that the reads not having quality/Phred scores would cause the issue since Bambu doesn't interact with them at all (but I have seen stranger bugs, so I won't rule it out!). It seems that it completed transcript discovery too, which is were errors related to annotations arise, so that is unlikely to be the cause too. I don't have a clear answer as to what might be causing this s

[2022-09-26 03:13] andredsim commented on #317
Hi there,

This is a very strange error as the NDR argument is both in the bioconductor and in the beta branch versions and I can't seem to replicate it on my end.

After restarting Rstudio, and rerunning this code, could you send through the output from `sessionInfo()` after getting this error.

[2022-09-26 04:12] seongwoohan commented on #317
I hope you had a nice vacation :)

Great, I will get back to you as with my working laptop. I have a follow-up question regarding the roman number 2 + 3 that I asked you last week. After following your suggestion, I found out the new extracted gtf file gives about 24 Mb of data, but using the same data with flair gives 90 Mb data. I could see a lot of transcripts are missing in bambu's when I comp

[2022-09-26 09:18] andredsim commented on #317
Yes it was a nice vacation, thanks!

As to why the Mb for bambus is smaller than flair - this is likely due to the different levels of filtering done by each tool. If you want to be more sensitive and increase the number of transcripts bambu reports, than using a higher NDR is recommended. As you already are running with the maximum NDR of 1, there are also some other default filters you can turn

[2022-09-26 15:04] alexanderc88 commented on #316
When I was trying to troubleshoot these errors, I did try to run it without
quantification but it didn’t recognize quant=FALSE, so I just got the
“unused argument” error. 😔

On Sun, Sep 25, 2022 at 7:48 PM Andre Sim ***@***.***> wrote:

[2022-09-27 01:37] andredsim commented on #316
Oh dear, I am also dealing with someone else that is having that same error and I am not sure why this is happening as it is definitely an argument. Can I check a few things.

1. Are you using a beta branch, the master branch, or the version downloaded from Bioconductor (`library(bambu)`)?
2. Could you send me your sessionInfo() when this error occurs
3. Could you please try run the following toy

[2022-09-27 19:53] alexanderc88 commented on #316
Hey Andre,

   1.  I installed this version of Bambu withBioconductor:
   BiocManager::install("bambu").
   2. Attached is the sessionInfo() (sessionInfo.txt).  According to the
   session info, my Bambu version is 1.2.1, although on GitHub it looks like
   the most current version is 2.0.0?  I tried re-installing it with
   Bioconductor but the version is still 1.2.1...
   3. The toy code faced t

[2022-09-27 23:52] seongwoohan commented on #317
Sorry for the late response. Here is what I get. I couldn't try NDR = 1 yet because of this error. The output I have should be based on NDR = 0.1 because that is the default value. I see Bambu gives very accurate transcripts, especially because of the NDR. If I increase the NDR = 1, I assume I would get a lot more memory in roman 2 + 3, but most of them will be inaccurate or partial transcript. Wh

[2022-09-28 01:27] andredsim commented on #316
Oh yes that is a very old version of Bambu now.
I see you are on R 4.1, which is why when you downloaded Bambu it must have downloaded the last version that was compatible with your R. The current version of Bambu on Bioconductor is for R 4.2.

I would recommended updating your R and then reinstalling Bambu.
Alternatively you can download the latest version of Bambu directly from the Github and im

[2022-09-28 01:31] andredsim commented on #317
Hi,

It looks like you are using an outdated version of Bambu (2.0.6 instead of 2.2) because you have R 4.1 and not R 4.2 installed. The latest Bioconductor version doesn't install on R versions less than 4.2 unfortunately.

I would recommend updating your R and then reinstalling Bambu and checking it has installed 2.2. Alternatively you can download the latest version of Bambu directly from the G

[2022-09-28 01:31] #317 closed

[2022-09-30 18:25] alexanderc88 commented on #316
Thanks for all the help, the old version was the issue!

On Tue, Sep 27, 2022 at 6:27 PM Andre Sim ***@***.***> wrote:

[2022-10-03 01:20] andredsim commented on #316
Glad to hear it, best of luck with your future use of Bambu!

[2022-10-03 01:20] #316 closed

[2022-10-11 07:50] alexanderc88 commented on #300
Awesome, thanks for checking all that, this is very helpful!

On Sun, Sep 4, 2022 at 8:53 PM Andre Sim ***@***.***> wrote:

[2022-10-21 09:56] smf96 opened #329 "Intron retention detection"
Hello,

How does bambu take into account novel isoforms with intron retention?

I'm using human gencode.v41 annotations on hg38 genome and definitely have evidence of intron retention when looking at the bam files on IGV:
![MicrosoftTeams-image (14)](https://user-images.githubusercontent.com/52749489/197168413-c366f3a7-cd25-420d-9921-150cfa061dbc.png)

However, bambu doesn't identify any novel iso

[2022-10-26 09:07] andredsim commented on #329
Hi,

Bambu should treat novel intron retention transcripts like any other so long as as intron retention doesn't result in a single exon transcript, there are some niche exceptions.

In your example, are there any other annotations in this area? Specifically is there a transcript with all these exons, and not the last exon? I ask because Bambu groups reads together by exon-junctions, in this case

[2022-10-26 10:46] smf96 commented on #329
Hello Andre,

Thanks very much for your response.

Regarding your question "Specifically is there a transcript with all these exons, and not the last exon?" the answer is YES there is, although I don't think bambu is grouping the reads with intron retention with the ones with the last exon missing because the numbers don't add up.

I also tried the option you suggested using this command:
[code]
I

[2022-10-26 16:07] smf96 commented on #329
Hello again Andre,

A further (and related) issue we would like to understand is why bambu also seems to identify an upstream transcript when there is no evidence for it in our read alignments.

In the image below
-the top panel is the annotated transcripts for the gene of interest. According to bambu the transcript called ENST00000508651 (2C-210) makes up 40% of the reads mapping to that gene. Ho

[2022-10-27 01:30] andredsim commented on #329
Hi,

1. Existence of an annotation missing the last exon
Ok just to clarify to make sure I understand what is going on here, what method are you using to get the counts? CPM? Full-length reads?

2. Running with subsets on results in fewer novel transcripts
Yes this is expected behavior because of the impact the higher number of false positives allowing subsets introduce. Essentially you now increa

[2022-11-01 18:55] sunsetyerin opened #332 "Tracking read-to-transcript assignment"
Hi, @andredsim @cying111

I want to use the feature of Bambu tracking read IDs.
From the previous [issue](https://github.com/GoekeLab/bambu/issues/236), it appears like a different branch is merged into the feature.
Wonder if the feature is merged into the main branch.

[2022-11-02 06:21] sunsetyerin commented on #332
<img width="729" alt="image" src="https://user-images.githubusercontent.com/59498491/199412959-9ca07fd9-58b7-43b9-a62b-3eebe459fb7d.png">

Can you please help me with solving the error?

[2022-11-02 06:28] cying111 commented on #332
Hi @sunsetyerin , this is caused by a bug in the quantification step related to multiple assignment across genes, we are working on this now and will get back soon.

[2022-11-03 18:53] sunsetyerin commented on #332
@cying111, okay then please let me know if the update is finished

[2022-11-04 07:23] cying111 commented on #332
Hi @sunsetyerin , the bug is now fixed in the master branch, you may try to re-run your sample. Let us know if the same error perists or there are any other errors!
Thank you

[2022-11-05 06:20] sunsetyerin commented on #332
@cying111 thank you so much.
Was able to run bambu and got se object with readIDs but is there any ways I can match read IDs with gene IDs?

[2022-11-07 01:18] andredsim commented on #329
Hi there, did you have any success trying the above?

[2022-11-07 01:22] andredsim commented on #332
Hi,

Since you already ran bambu with TrackReads = TRUE, you can access the read id to genes map using metadata(se)$readToTranscriptMaps.
Under the column equal matches, is the index for the gene found in rowRanges(se).

[2022-11-14 01:25] #329 closed